{% extends "admin-base.html" %}

{% block admin-view_user %}
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">User</a></li>
                        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
        {% for x in user %}
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4" style="height: 98%;">
                    <div class="card-body text-center">
                        <img src="{{x.user_info.profile.url}}"
                            alt="avatar" class="img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{x.user_info.full_name}}</h5>
                        <p class="text-muted mb-4">{{x.user_info.gender}}</p>
                        <p class="text-muted mb-4">{{x.user_info.city}}</p>
                        <div class="d-flex justify-content-center mb-2">
                            {% if x.is_active %}
                            <a href="{% url 'user_block' x.id %}"><button type="button" class="btn btn-danger">Block</button></a>
                            {% endif %}
                            {% if x.is_active == False %}
                            <a href="{% url 'user_block' x.id %}"><button type="button" class="btn btn-info text-white">Unblock</button></a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{x.user_info.full_name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{x.email}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{x.user_info.phone}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{x.user_info.address}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mother Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{x.user_info.mother_name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Father Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{x.user_info.father_name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Religion</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{x.user_info.religion}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Date of Birth</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{x.user_info.date_of_birth}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Job</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{x.user_info.job}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Education</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{x.user_info.qualification}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Marital Status </p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{x.user_info.marital_status}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Height</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{x.user_info.height}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Weight</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{x.user_info.weight}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Body Type</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{x.user_info.body_type}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Physical Status</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{x.user_info.physical_status}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Food Type</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{x.user_info.food}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Smoking</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{x.user_info.smoking}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Drinking</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{x.user_info.drinking}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</section>
{% endblock admin-view_user %}